body {
    background-color: lightgray;
}

input[type=text] {
    width: 150px;
    height: 40px;
    font-size: 18px;
}

button {
    width: 70px;
    height: 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex.mt-20{
    margin-top: 20px;
}